apiVersion: apps/v1
kind: Deployment
metadata:
  name: recipe-ms
  labels:
    app: recipe-ms
spec:
  replicas: 1
  selector:
    matchLabels:
      app: recipe-ms
  template:
    metadata:
      labels:
        app: recipe-ms
    spec:
      containers:
        - name: recipe-ms
          image: recipe-ms:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 5